*{
    top: 0;
    padding: 0;
    font-family: Poppins;
}
.header{
    width: 101%;
    height: 70px;
    background-color: gray;
    color: white;
    margin-top: -31px;
    margin-left: -9px;
    margin-right: 19px;
    font-size: xx-large;
    
}
.header h1{

    padding: 1px;
    margin-left: 50px;
    font-size: xx-large;
    font-weight: 900;
    font-size: 140%;
    text-align: center;
    
}
nav{

    background-color: rgb(77, 58, 58);
    width: 101%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    margin-left: -9px;
    
    
    }
    nav ul{
    position: sticky;
    
        display: flex;
    }
    nav ul li a{
    
        display: flex;
        margin: 90px;
        text-decoration: none;
        color: white;
        font-weight: 600;
        font-size: xx-large;
    position: sticky;
    
    }
    nav ul li a:hover{
    color: blue;
    
    }
    #banner{
        background-image: url(./wp11088327.png);
        width: 101%;
        height: 800px;
        margin-left: -8px;
    }
    .overlay{
        position: absolute;
        top: 50%;
        left: 9%;
        
        }
        #head{
        
            color: white;
            font-weight: 900;
            font-size: 40px;
            text-shadow: 0 0 3px #FF0000;
            font-family: Playfair Display;
            
        
        }
        .photos{
            width: 101%;
    height: 70px;
    background-color: rgb(150, 115, 115);
    color: white;
    margin-top: -38px;
    margin-left: -9px;
    margin-right: 19px;
    font-size: xx-large;

        }
        .photos h3{
            margin-left: 30px;
        }
        .gallery img{
            border-radius: 50px;
            margin-top: 5px;
            
        }
        .gallery{
            background-color: rgb(7, 87, 90);
            margin-left: -9px;
            width: 100.9%;
            margin-top: -30px;
        }
        .pro{

            width: 100.9%;
            height: 70px;
            background-color: rgb(150, 115, 115);
            color: white;
            font-size: xx-large;
            margin-top: 816px;
            margin-left: -9px;


        }
        .pro h3{
            margin-left:  30px;
            
        }
        .row{
            width: 97%;
            height: 1100px;
            background-color: slategray;
            padding: 40px;
            margin-left: -9px;
        }
        .col{

            width: 1200px;
            height: 340px;
            background-color: silver;
            margin: 20px;
            border-radius: 30px;
            margin-left: 40px;
            
        }
        .col img{

            width: 180px;
            height: 100px;
            align-items: center;
            margin: 10px;
            border-radius: 20px;
        }
        .col h2{
            color: white;
            margin: 10px;
            margin-left: 20px;
        }
        .col:hover{
            box-shadow: 10px 10px 5px black;
        }
        #image{
            margin-left: 1280px;
    margin-top: -800px;
    box-shadow: #FF0000;
        }
        
        #awards{
            width: 100.9%;
            height: 70px;
            background-color: rgb(150, 115, 115);
            color: white;
            font-size: xx-large;
            margin-top: -38px;
            margin-left: -9px;
        }
        #awards h3{
            margin-left: 30px;
        }
        .row1{
            width: 97%;
            height: 550px;
            background-color: rgb(74, 78, 82);
            padding: 40px;
            margin-left: -9px;
            
        }
        .col1{
            width: 1200px;
            height: 60px;
            background-color: rgb(168, 79, 79);
            margin: 20px;
            border-radius: 30px;
            margin-left: 40px;
            text-align: center;
            margin: 50px;

        }
        .col1 p{
            font-size: x-large;
            color: white;
            padding: 10px;
        }
        #contact{
            width: 100.9%;
            height: 70px;
            background-color: rgb(150, 115, 115);
            color: white;
            font-size: xx-large;
            margin-top: -38px;
            margin-left: -9px;
        }
        #contact h3{
            margin-left: 30px;
        }
        iframe{
            margin-left: 30px;
            margin-top: 30px;
        }

        